@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 72%;
}

header {
  background-image: url(../images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  filter: saturate(1.5);
  height: 41em;
}

.nav-bar {
  width: 72%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .logo {
  font-size: 2.2rem;
  font-family: "Alata", sans-serif;
}
.nav-bar a {
  color: hsl(0deg, 0%, 100%);
}
.nav-bar .ham {
  display: none;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  background-image: url(../images/icon-hamburger.svg);
}
.nav-bar nav {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.nav-bar nav ul {
  display: flex;
  gap: 3rem;
  height: 30px;
}
.nav-bar nav ul li a {
  display: flex;
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0deg, 0%, 100%);
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 8px;
}
.nav-bar nav ul li a:hover {
  border-bottom: 2px solid hsl(0deg, 0%, 100%);
}

.impressive {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid hsl(0deg, 0%, 100%);
  margin-top: 100px;
  position: relative;
}
.impressive p {
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  padding: 30px;
  font-size: 80px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  padding-right: 5rem;
}

section {
  width: 100%;
}

.sect1 {
  margin-top: 8em;
  height: 650px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
}
.sect1 .mimg {
  display: none;
}
.sect1 .dimg {
  width: 95%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.sect1 .dimg img {
  -o-object-fit: contain;
     object-fit: contain;
}
.sect1 .info {
  position: absolute;
  top: 230px;
  left: 570px;
  padding: 5em;
  background-color: hsl(0deg, 0%, 100%);
  width: 100%;
}
.sect1 .info h1 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1;
  font-weight: 100;
}
.sect1 .info p {
  font-family: "Alata", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  color: hsl(0deg, 0%, 55%);
}

.all h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.all mlink {
  display: none;
}
.all a {
  color: hsl(0deg, 0%, 0%);
  font-family: "Alata", sans-serif;
  text-transform: uppercase;
  border: 1px solid hsl(0deg, 0%, 0%);
  padding: 0.5rem 2.5rem;
  font-size: 15px;
  letter-spacing: 1px;
}
.all a:hover {
  background-color: hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
}

.all {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.mimage {
  display: none;
}

.dimage {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.dimage .imgd, .mimage .imgd {
  width: 100%;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.dimage .imgd:hover, .mimage .imgd:hover {
  cursor: pointer;
}
.dimage .imgd:hover img, .mimage .imgd:hover img {
  opacity: 0.3;
}
.dimage .imgd:hover p, .mimage .imgd:hover p {
  color: hsl(0deg, 0%, 0%);
}
.dimage .imgd img, .mimage .imgd img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.dimage .imgd p, .mimage .imgd p {
  position: absolute;
  bottom: 1.5rem;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 100%);
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  left: 30px;
}

footer {
  background-color: hsl(0deg, 0%, 0%);
  margin-top: 6rem;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
footer .left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .left ul {
  display: flex;
  flex-direction: row;
  gap: 1em;
  height: 50px;
  font-family: "Alata", sans-serif;
}
footer .left ul li a {
  padding-bottom: 10px;
}
footer .left ul li a:hover {
  border-bottom: 2px solid hsl(0deg, 0%, 100%);
}
footer .left .logo {
  font-size: 2.2rem;
  font-family: "Alata", sans-serif;
}
footer .left a {
  color: hsl(0deg, 0%, 100%);
}
footer .right {
  display: flex;
  flex-direction: column;
  gap: 2em;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
footer .right .socials {
  display: flex;
  flex-direction: row;
  margin-left: 9rem;
  gap: 1em;
}
footer .right .socials img {
  padding-bottom: 10px;
}
footer .right .socials img:hover {
  border-bottom: 2px solid hsl(0deg, 0%, 100%);
}
footer .right p {
  color: hsl(0deg, 0%, 41%);
  font-family: "Alata", sans-serif;
}

@media screen and (max-width: 900px) {
  .container {
    width: 90%;
  }
  header {
    background-image: url(../images/mobile/image-hero.jpg);
  }
  .nav-bar .logo,
.nav-bar .ham {
    position: relative;
    z-index: 39993;
  }
  .nav-bar .ham[data-visible=true] {
    background-image: url(../images/icon-close.svg);
  }
  .nav-bar nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    position: absolute;
    left: 0;
    top: 0;
    gap: 2em;
    padding-top: 150px;
    background-color: hsl(0deg, 0%, 0%);
    transform: translateX(-200%);
    transition: all 2s ease-out;
  }
  .nav-bar nav ul[data-visible=true] {
    transform: translateX(0);
    transition: all 3s ease;
  }
  .nav-bar nav ul li {
    width: 100%;
    height: 80px;
    cursor: pointer;
    gap: 2em;
  }
  .nav-bar nav ul li a {
    font-size: 2em;
    font-family: "Josefin Sans", sans-serif;
    padding-bottom: 0;
    width: 100%;
    margin-left: 50px;
    border: none;
  }
  .nav-bar nav ul li a:hover {
    border: none;
  }
  .nav-bar .ham {
    display: block;
  }
  .impressive {
    z-index: -333;
  }
  .sect1 {
    display: grid;
    grid-template-columns: 1fr;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .sect1 .dimg {
    width: 100%;
  }
  .sect1 .dimg img {
    width: 100%;
  }
  .sect1 .info {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
  }
  .dimage .imgd p {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 90%;
  }
  .nav-bar nav ul {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .impressive p {
    font-size: 35px;
    padding: 10px;
  }
  .sect1 {
    grid-template-columns: 1fr;
  }
  .sect1 .dimg {
    display: none;
  }
  .sect1 .mimg {
    display: block;
    width: 100%;
  }
  .sect1 .mimg img {
    width: 100%;
  }
  .sect1 .info {
    width: 100%;
    padding: 0;
    padding-top: 2em;
  }
  .sect1 .info h1 {
    font-size: 1.5rem;
  }
  .sect1 .info p {
    text-align: center;
    padding-top: 1em;
    font-size: 1em;
  }
  .mimage {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
  }
  .dimage {
    display: none;
  }
  .all {
    justify-content: center;
  }
  .all h2 {
    text-align: center;
  }
  .all .dlink {
    display: none;
  }
  .mlink {
    display: flex;
    margin-left: 6em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    justify-content: center;
    color: hsl(0deg, 0%, 0%);
    font-family: "Alata", sans-serif;
    text-transform: uppercase;
    border: 1px solid hsl(0deg, 0%, 0%);
    padding: 0.5rem 2rem;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .mlink:hover {
    background-color: hsl(0deg, 0%, 0%);
    color: hsl(0deg, 0%, 100%);
  }
  .footer {
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
  .footer .left {
    justify-content: center;
  }
  .footer .left a {
    text-align: center;
  }
  .footer .left ul {
    width: 100%;
    align-items: center;
    flex-direction: column;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .footer .left ul li {
    width: 100%;
    text-align: center;
    height: 50px;
  }
  .footer .left ul li a {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .footer .right {
    width: 100%;
    justify-items: center;
  }
  .footer .right .socials {
    margin: 0;
    width: 100%;
    justify-content: center;
  }
  .footer .right p {
    text-align: center;
  }
}
@media (hover: hover) {
  .all a:hover {
    background-color: hsl(0deg, 0%, 0%);
    color: hsl(0deg, 0%, 100%);
  }
  .dimage .imgd:hover, .mimage .imgd:hover {
    cursor: pointer;
  }
  .dimage .imgd:hover img, .mimage .imgd:hover img {
    opacity: 0.3;
  }
  .dimage .imgd:hover p, .mimage .imgd:hover p {
    color: hsl(0deg, 0%, 0%);
  }
}/*# sourceMappingURL=main.css.map */