@mixin medium_devices {
  .container {
    width: $containerMd;
  }
  header {
    background-image: url(../images/mobile/image-hero.jpg);
  }
  .nav-bar {
   
    .logo,
    .ham {
      position: relative;
      z-index: 39993;
    }
    .ham{

      &[data-visible="true"]{
        background-image: url(../images/icon-close.svg);
      
       }
    }
    nav ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: min-content;
      position: absolute;
      left: 0;
      top: 0;
      gap: 2em;
      padding-top: 150px;
      background-color: $Black;
      transform: translateX(-200%);
      transition:all 2s ease-out;

      
        &[data-visible="true"]{
            transform: translateX(0);
            transition: all 3s ease;
          
        }
      li {
        width: 100%;
        height: 80px;
        cursor: pointer;
        gap: 2em;

        a {
          font-size: 2em;
          font-family: $josefin;
          padding-bottom: 0;
          width: 100%;
          margin-left: 50px;
          border: none;
          &:hover {
            border: none;
          }
        }
      }
    }

    .ham {
      display: block;
    }
  }

  .impressive {
    z-index: -333;
  }
  .sect1 {
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;

    .info {
      position: relative;
      top: 0;
      left: 0;
      text-align: center;
    }
  }

  .dimage .imgd p {
    font-size: 1.5em;
  }
}

@mixin small_devices {
  .container {
    width: $containerSm;
  }
  .nav-bar {
    nav ul {
      height: max-content;
    }
  }
  .impressive {
    p {
      font-size: 35px;
      padding: 10px;
    }
  }
  .sect1 {
    grid-template-columns: 1fr;

    .dimg {
      display: none;
    }
    .mimg {
      display: block;
      width: 100%;
      // height: ;

      img {
        width: 100%;
      }
    }
    .info {
      width: 100%;
      padding: 0;
      padding-top: 2em;
      h1 {
        font-size: 1.5rem;
      }
      p {
        text-align: center;
        padding-top: 1em;
        font-size: 1em;
      }
    }
  }

  .mimage {
    display: grid;
    gap: 2em;
    grid-template-columns: 1fr;
  }
  .dimage {
    display: none;
  }
  .all {
    justify-content: center;
    h2 {
      text-align: center;
    }

    .dlink {
      display: none;
    }
  }
  .mlink {
    display: flex;
    margin-left:6em;
    width: fit-content;
    justify-content: center;
    color: $Black;
    font-family: $alata;
    text-transform: uppercase;
    border: 1px solid $Black;
    padding: 0.5rem 2rem;
    font-size: 15px;
    letter-spacing: 1px;
    &:hover {
      background-color: $Black;
      color: $White;
    }
  }
  .footer {
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    .left {
      justify-content: center;
      a {
        text-align: center;
      }
      ul {
        width: 100%;
        align-items: center;
        flex-direction: column;
        height: min-content;
        li {
          width: 100%;
          text-align: center;
          height: 50px;
        }
        li a {
          width: 100%;
          height: max-content;
        }
      }
    }
    .right {
      width: 100%;
      justify-items: center;
      .socials {
        margin: 0;
        width: 100%;
        justify-content: center;
      }
      p {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  @include medium_devices();
}
@media screen and (max-width: 500px) {
  @include small_devices();
}
